{% extends  '@EasyAdmin/layout.html.twig' %}
{% block content %}
    
    <div class="jumbotron">
        <h1 class="display-4"> ADMINISTRATION </h1>
        <p class="lead">Welcome to GLUCII administration </p>
    </div>
{% endblock %}